<mat-toolbar>
  <div class="d-block d-md-none">
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  </div>
  <span>
    <img class="logo" src="assets/icons/tp-icon.png" alt="logo"/>
  </span>
  <span>
    <span class="title-cap">T</span><span class="title-sm">RANSFER  </span>
    <span class="title-cap">P</span><span class="title-sm">RICING </span>
    <span class="title-cap">.I</span><span class="title-sm">N</span>
  </span>
  <span class="example-spacer"></span>
  <div class="d-none d-md-block">
  <button *ngFor="let m of menu" mat-button [routerLink]="m.link" routerLinkActive="{{m.class}}" >{{m.name}}</button>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container" [hasBackdrop]="true" [style.height.px]="contentScreenHeight">
  <mat-drawer #drawer mode="over">
    <div style="margin-left:10px">
      <div *ngFor="let m of menu">
        <button  mat-button [routerLink]="m.link" routerLinkActive="{{m.class}}" >{{m.name}}</button> <br/>
      </div>
      
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
