<div class="container mt-1">
    <h2>FAQ on Transfer Pricing</h2>
    <div class="mt-2">
        <mat-accordion multi>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. What is Transfer pricing? 
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Transfer pricing (“TP”) are the charges made when a company supplies goods, services or
                    finance to another company to which it is related. It is an internationally accepted principle
                    that transactions between related parties (associated enterprises) should be based upon
                    the same terms as between unrelated parties. Thus, both tax treaties entered into between
                    countries and domestic tax legislation of various countries have adopted the arm's length
                    principle.
                </p>
                <p>
                    In other words, when two companies that are part of the same group trade with each 
                    other, they need to establish a price for that transaction. That price will be termed as 
                    transfer price and the transfer pricing shall be done at arm's length basis 
                    (similar to third party/unrelated terms)
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. Is it mandatory to comply with TP provisions as per Income Tax Act?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Section 92E of the Income Tax Act is mandating every person (Individual, Partnership Firm, 
                    LLP or Company) who has entered into an international transaction or specified domestic 
                    transaction during the previous year to obtain and furnish a report as per the Transfer 
                    pricing provisions
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3. Whether TP provisions will be applicable to my company/entity 
                        (or to my client)?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    If any one or more activities of the below activities are performed by the Indian entity with 
                    its Associated Enterprise1 during the previous year TP provisions will be applicable
                </p>
                <ol style="list-style-type:lower-alpha">
                    <li>Sale of goods (or services) to related party which is located in foreign country.</li>
                    <li>Purchase of goods (or services) from related party which is located in foreign country.</li>
                    <li>Sale/purchase of Fixed Assets to/from related party which is located in foreign
                        country.</li>
                    <li>Royalty payment for use of intangible asset.</li>
                    <li>Loan to related party entities, interest on loans to related parties.</li>
                    <li>Issuing of SBLC or Guarantee to related parties.</li>
                    <li>Equity Investment in shares of AEs.</li>
                    <li>Issuing of Compulsory Convertible Debentures, Preference shares etc.</li>
                    <li>Reimbursement of expenses (on behalf payments).</li>
                    <li>Any other transaction with foreign AEs.</li>
                </ol>
                <p>
                    <b>Note:</b> The above list is non exhaustive. Therefore, in simple words any transaction with 
                    associated enterprise will be covered under transfer pricing provisions
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        4. Whether TP provisions applicable to domestic related party transactions as well?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Not all transactions with domestic related parties will fall under Domestic Transfer Pricing 
                    provisions (“DTP”)2 only the following transactions will fall under TP provisions
                </p>
                <ol style="list-style-type:lower-alpha">
                    <li>Sale of goods (or services) to tax holiday units of the Assessee in India.</li>
                    <li>Purchase of goods (or services) from the tax holiday units of the Assessee in India.</li>
                    <li>Allocation of Head office expenses and Exchange fluctuations to Tax Holiday unit.</li>
                    <li>Allocation of Salary expenses to tax holiday units.</li>
                </ol>
                <p>
                    However, the above list of transactions is non-exhaustive3 
                    therefore if the company (or any other entity) having a tax holiday unit 
                    or dealing with its <u>Tax Holiday Units</u> shall check if they are falling under DTP
                </p>
                <p>
                    Tax Holiday beneficiaries that are impacted by Domestic Transfer Pricing (“DTP”) are as follows:
                </p>
                <ol style="list-style-type:lower-roman">
                    <li>80IA - undertakings engaged in 
                        <ol style="list-style-type:lower-alpha">
                            <li>developing, operating and maintaining Infrastructure</li>
                            <li>generation, transmission of distribution of power</li>
                            <li>Reconstruction/ revival of power generating plants</li>
                        </ol>
                    </li>
                    <li>80IAB - Undertakings engaged in development of SEZ's</li>
                    <li>80IB - undertakings located/engaged in
                        <ol style="list-style-type:lower-alpha">
                            <li>Industrially backward districts as notified;</li>
                            <li>Scientific research & development</li>
                            <li>Refining of mineral oil/ commercial production of natural gas</li>
                            <li>Operating cold chain facility for agricultural produce</li>
                            <li>Processing, preservation and packing of meat/ meat products or poultry/ 
                                marine / dairy products</li>
                            <li>Operating and maintaining a hospital of specified capacity</li>
                        </ol>
                    </li>
                    <li>80IC - Industrial Undertakings or enterprises established in special categories
                        state.</li>
                    <li>80ID - Industrial Undertakings engaged in development of hotels and convention
                        centre in specified areas</li>
                    <li>80IE - Undertakings in North-eastern States</li>
                    <li>80JJA - Undertakings engaged in collection and processing of bio-degradable wastes</li>
                    <li>80JJAA - Undertakings engaged in employment of new workmen </li>
                    <li>80LA - Offshore Banking Units and International Financial Service Centres</li>
                    <li>80P - Co-operative Societies</li>
                    <li>115BAB - Domestic company engaged in manufacturing/ production</li>
                </ol>
            </mat-expansion-panel>

            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        5. What is TP documentation? Is it mandatory to maintain TP 
                        documentation as per Law?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    TP documentation is a record of transactions entered with associated enterprises (“AEs”) 
                    and act as record for basis of arriving at arm's length price at which the entity has entered  
                    into transactions with AEs.
                </p>
                <p>
                    As per the Rule 10D of Income Tax Rules, 1962 the TP documentation shall have the 
                    following information:
                </p>
                <ol style="list-style-type:lower-alpha">
                    <li>a description of the ownership structure</li>
                    <li>a profile of the multinational group</li>
                    <li>a broad description of the business of Assessee and AEs</li>
                    <li>the nature and terms (including prices) of international transactions</li>
                    <li>FAR analysis (Functional, Assets and Risk analysis)</li>
                    <li>a record of the economic and market analyses, forecasts, budgets or any other 
                        financial estimates prepared by the assessee</li>
                    <li>a record of uncontrolled transactions taken into account for analyzing their
                        comparability with the international transactions</li>
                    <li>a record of the analysis performed to evaluate comparability of uncontrolled
                        transactions</li>
                    <li>a description of the methods considered for determining the arm's length price in
                        relation to each international transaction</li>
                    <li>the assumptions, policies and price negotiations, if any</li>
                    <li>any other information, data or document, including information or data relating to
                        the associated enterprise</li>
                </ol>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>