<div class="container">
    <div class="mt-1">
        <h2>Our Services</h2>
    </div>
    <div class="mt-1">
        <mat-accordion>
            <mat-expansion-panel class="mt-2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Transfer Pricing Compliances
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Transfer Pricing Compliances</li>
                    <li>Transfer Pricing Documentation</li>
                    <li>Accountant's Report - Form No. 3CEB</li>
                    <li>Master File</li>
                    <li>Country-by-Country Report</li>
                    <li>Global Transfer Pricing Compliance - Regional/Country comparable studies &amp; filings adhering
                        to OECD
                        guidelines and local regulations. (We have access to all major Indian and Global
                        databases/software - Prowess,
                        CapitalineTP, AceTP, Compustat, RoyaltyRange, RoyaltyStat,
                        One Source, etc.)</li>
                    <li>Transfer Pricing Comfort Letters/Memos for Statutory Auditors</li>
                    <li>Transfer Pricing analysis and Board meeting presentations for Listed Companies from SEBI
                        Regulations and
                        Companies Act perspective.</li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel class="mt-2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Transfer Pricing Advisory On
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ul>
                    <li>Transfer Pricing Policy &amp; Price Setting</li>
                    <li>Drafting/Review of Inter-Company Agreements</li>
                    <li>Alternative Business and Remuneration Models that are sustainable</li>
                    <li>Comparable Studies and Benchmarking analyses</li>
                    <li>Operational Transfer Pricing</li>
                    <li>Group Profit &amp; Effective Tax Planning</li>
                    <li>Tax efficient structuring of international transactions &amp; transaction flows</li>
                    <li>Supplementary analyses to strengthen the documentation from litigation perspective</li>
                    <li>Voluntary Transfer Pricing Adjustments</li>
                    <li>Secondary Adjustments</li>
                    <li>Transfer Pricing Health Check-Up to avoid/mitigate risks</li>
                    <li>Transfer Pricing Due Diligence</li>
                    <li>Drawing Segmental P&amp;L for Transfer Pricing Purposes</li>
                    <li>Economic adjustments computation - Risk, Working Capital, Forex, Capacity Utilisation,
                        Depreciation, Cash PLI
                        adjustments</li>
                </ul>

            </mat-expansion-panel>
            <mat-expansion-panel class="mt-2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Complex inter-company transactions - Planning, Implementation &amp; Compliance support for:
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ul>
                    <li>Intangibles - Structuring, Royalty &amp; Licencing rates, Withholding implications, Agreements
                    </li>
                    <li>Financial Transactions - Interest rates, Withholding implications, Agreements</li>
                    <li>Intra-Group Services, Management Charges, Cost Contribution Arrangements - Charging/mark-up
                        rates, Agreements,
                        Cost pooling &amp; allocation</li>
                    <li>Business Restructurings - Transfer Pricing implications, Agreements &amp; Contracts review</li>
                    <li>General Anti Avoidance Rules (GAAR) implications</li>
                    <li>Permanent Establishment (PE) Exposure for existing/proposed transactions</li>
                </ul>

            </mat-expansion-panel>
            <mat-expansion-panel class="mt-2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Transfer Pricing Litigation Support
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ul>
                    <li>Transfer Pricing Representation along with Strategy Formation</li>
                    <li>Advance Pricing Agreements</li>
                    <li>Safe Harbour Representations</li>
                    <li>Transfer Pricing Litigation Strategy Formation</li>
                    <li>Representations at Dispute Resolution Panel along with other appeal levels</li>
                    <li>Representations at Income-Tax Tribunals</li>
                    <li>Transfer Pricing File Built-up to be ready for Transfer Pricing Assessment</li>
                    <li>Analysis of Transfer Pricing Risk Profiling</li>
                    <li>Penalty, Rectification, Re-assessment, Revision, Remand, Order giving effect, Stay of demand
                        proceedings</li>
                </ul>

            </mat-expansion-panel>
            <mat-expansion-panel class="mt-2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Alternate Dispute Resolution Routes - Advance Pricing Agreement (APA), Mutual Agreement
                        Procedure (MAP), Safe Harbour Rules (SHR)
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ul>
                    <li>Cost Benefit Analysis for decision making</li>
                    <li>Filing of Applications in prescribed Forms</li>
                    <li>Representations &amp; Submissions</li>
                    <li>Application Renewals</li>
                    <li>APAs - both unilateral &amp; bilateral</li>
                </ul>

            </mat-expansion-panel>
            <mat-expansion-panel class="mt-2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        BEPS Advisory - Readiness, Implementation, Impact on International Tax Structures:
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ul>
                    <li>BEPS Contract Analysis</li>
                    <li>Value Chain Analysis and Management</li>
                    <li>OECD Pillar 1 &amp; 2 – Readiness, Implementation &amp; Impact</li>
                    <li>Supply Chain Restructuring</li>
                    <li>Three Tier Documentation support in line with Action 13</li>
                    <li>IP Structuring /DEMPE analysis in view of Action 8</li>
                    <li>Financial Transactions planning factoring in Action 4 and 9 and OECD guidelines on Financial
                        Transactions</li>
                    <li>High risk transactions structuring in coherence with Action 10</li>
                    <li>Profit Split Method – applicability, implementation, splitting factors, projections,
                        segmentation,
                        planning/price setting as per BEPS</li>
                </ul>

            </mat-expansion-panel>
            <mat-expansion-panel class="mt-2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Valuations for arm's length determination for Transfer Pricing purposes:
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ul>
                    <li>Assets (tangibles &amp; intangibles) transfer between related parties</li>
                    <li>Capital/financial transactions (equity, debt &amp; hybrid instruments, guarantees) - issue,
                        sale, buybacks
                        between related parties</li>
                    <li>Mergers &amp; Acquisitions transactions - selling, buying, combining, restructuring involving
                        related parties
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>