<div class="container">
    <div class="mt-1">
        <h2>About Us</h2>
    </div>
    <div>
        <h3>WHAT WE DO</h3>
        <p>
            We Specialize in international tax and transfer pricing for companies with an international footprint.
        </p>
        <p>
            We primarily focus on helping companies in the $1M USD - $100M USD revenue range legally saving millions of dollars in tax.
        </p>
        <p>
            We ensure full compliance with local regulators and tax authorities. The end goal is to ensure more cash is returned to shareholders.
        </p>
    </div>
    <div>
        <h3>HOW WE DO IT</h3>
        <p>
            T = Total analysis of your current situation<br/>
            R = Report on potential avenues for cross border tax savings<br/>
            A = Assess the tax savings<br/>
            N = Negate regulatory and audit risks<br/>
            S = Strategies to ensure minimal tax exposure<br/>
            F = Full implementation support<br/>
            E = Effective compliance controls<br/>
            R = Realize the cash savings<br/>
        </p>
    </div>
    <div>
        <p>
            We have over 6 years experience in transfer pricing and international tax where we 
            helped to lead the largest MNCs transfer pricing practice in India.
        </p>
        <p>
            Our experience also includes being the engagement lead for transfer pricing on a 
            number of India's largest companies, with particular emphasis on Pharma, technology, Marine, Consumer &amp; 
            Industrial products and Automotive.
        </p>
        <p>
            We have considerable experience in transfer pricing matters, including establishing 
            transfer pricing framework and policies, negotiating APAs and making successful 
            competent authority applications.
        </p>
        <p>
            A particular focus where we have spent considerable time in recent years has been 
            transfer pricing controversy matters, where we have worked on some large transfer 
            pricing disputes.
        </p>
    </div>
    <div>
        <h3>WHAT WE OFFER TO BEGIN WITH</h3>
        <ul>
            <li>Assessing your current situation.</li>
            <li>Identifying key challenges.</li>
            <li>Determining a high level approach to a customized transfer pricing strategy.</li>
            <li>Creating a tailored action plan for you and helping to execute on it from A to Z.</li>
        </ul>
        <div class="contact-block">
            <b>Phone:</b> + 91 9441446087<br/>
            <b>Email:</b> chaitanya@bcktax.com<br/>
            <b>Website</b>www.transferpricing.in
        </div>
    </div>
    <div class="mt-1">
        <h3><span class="material-icons align-top mx-1">star</span>PLEASE <span class="link" routerLink="/contact-us">CONTACT US</span> WHEN YOU ARE READY:</h3>
        <ol>
            <li>To assess your current situation and measure where are you standing</li>
            <li>To get a tailored plan of action created for you</li>
            <li>To become educated on the millions of dollars that can be saved through
                implementation of a successful transfer pricing strategy</li>
        </ol>

    </div>


</div>