<div class="container">
    <div class="row mt-1">
        <h2>Contact Us Now</h2>
        <p>Our offices are open between 9am and 5.00pm Monday – Friday</p>
    </div>
    <div class="row mt-1">
        <div class="col-xs-12 col-md-6">
            <div class="formRow formRow1Col"><span class="formRowLabel">First Name</span>
                <div class="formRowColWide">
                    <input id="contact_first_name" class="form-control input-lg" type="text" name="contact_first_name"
                        style="width: 100%;" [(ngModel)]="firstname">
                    <span class="error">{{errors.firstname}}</span>
                </div>
                <div class="formRowPadding"></div>
            </div>
            <div class="formRow formRow1Col"><span class="formRowLabel">Last Name</span>
                <div class="formRowColWide">
                    <input id="contact_last_name" class="form-control input-lg" type="text" name="contact_last_name"
                        style="width: 100%;" [(ngModel)]="lastname">
                    <span class="error">{{errors.lastname}}</span>
                </div>
                <div class="formRowPadding"></div>
            </div>
            <div class="formRow formRow1Col"><span class="formRowLabel">E-mail Address</span>
                <div class="formRowColWide">
                    <input id="contact_email" class="form-control input-lg"
                        type="text" name="contact_email" style="width: 100%;" [(ngModel)]="email">
                    <span class="error">{{errors.email}}</span>
                </div>
                <div class="formRowPadding"></div>
            </div>
            <div class="formRow formRow1Col"><span class="formRowLabel">Phone Number</span>
                <div class="formRowColWide">
                    <input id="contact_phone" class="form-control input-lg" type="text" name="contact_phone"
                        style="width: 100%;" [(ngModel)]="contact">
                </div>
                <div class="formRowPadding"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="formRow formRow1Col"><span class="formRowLabel">Your Message</span>
                <div class="formRowColWide">
                    <textarea id="comment" class="form-control input-lg" name="comment"
                        style="width: 100%; height: 300px;" [(ngModel)]="comment"></textarea>
                    <span class="error">{{errors.comment}}</span>
                </div>
                <div class="formRowPadding"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div style="text-align: center" class="formRow formRow1Col">
                <div class="formRowColWide">
                    <button mat-button  class="primary" 
                         (click)="submitMessage()">Submit</button>
                </div>
                <div class="formRowPadding"></div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="entry">
                <p><strong>Office Address:</strong></p>
                <p># 302, Amshri Shamira, Opp St. Mary's College,<br/> Old
                    Lancer Lane, SD Road, Secunderabad-500003.</p>

                <p><strong>Contact Details:</strong></p>
                <p><strong>Phone:</strong>&nbsp;+91 9160664000<br>
                <strong>Email</strong>: <a href="mailto:info@transferpricing.in">info@transferpricing.in</a><br>
                </p>
            <p></p>
            </div>
        </div>
        <div class="col-md-6">
            <div id="s8-thirdpartygooglemap1" style="position: relative;width: 100%; height: 408px;">    
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.4164844314046!2d78.50079881482671!3d17.43976898804726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9a237347c5bb%3A0x9978cebfc56c8d91!2sFS%20Fitness!5e0!3m2!1sen!2sin!4v1666071174984!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>