<div style="position: relative;padding-left: 1rem;padding-right: 1rem;padding-top: 4rem;padding-bottom: 4rem;" class="s8-templates-section-content s8-templates-section-contentsize-md s8-templates-section-content-paddingleft s8-templates-section-content-paddingright">
	<h1 style="text-align: center;">Our Workflow</h1>
	<p style="text-align: center;">
		The benchmarking process starts after the analysis of identifying and characterising the international related party transaction has already
		be performed. Please contact us if you require assistance with this area and we can quote separately. If you have already performed this
		analysis, you are ready for benchmarking. Our benchmarking process can be summarised as follows:
	</p>
	<section id="s8-templatessection5" class="content-services s8-templates-section" style=""><div class="s8-templates-section-background" style=""></div><div style="position: relative;padding-left: 1rem;padding-right: 1rem;padding-top: 2rem;padding-bottom: 1rem;" class="s8-templates-section-content s8-templates-section-contentsize-md s8-templates-section-content-paddingleft s8-templates-section-content-paddingright">
		<div class="row">
			<div class="services-box prices-box col-sm-3">
				<h3>Step One</h3>
				<div class="price-box">
					<h4>Data Gathering</h4>
					<div class="price-details">
						<p>
							Complete the online questionnaire regarding the company, industry and transaction information. We are willing to sign confidentiality
							agreements if required.
						</p>
					</div>
				</div>
			</div>
			<div class="services-box prices-box col-sm-3">
				<h3>Step Two</h3>
				<div class="price-box">
					<h4>Benchmarking Analysis</h4>
					<div class="price-details">
						<p>
							Transfer Pricing Benchmarking performs the benchmarking analysis. The analysis itself has many steps in the process before a final
							comparable set is identified.
						</p>
					</div>
				</div>
			</div>
			<div class="services-box prices-box col-sm-3">
				<h3>Step Three</h3>
				<div class="price-box">
					<h4>Draft Report</h4>
					<div class="price-details">
						<p>Transfer Pricing Solutions finalises the benchmarking analysis and provides a draft report for discussion.</p>
						<p><br></p>
						<p></p>
					</div>
				</div>
			</div>
			<div class="services-box prices-box col-sm-3">
				<h3>Step Four</h3>
				<div class="price-box">
					<h4>Final Report</h4>
					<div class="price-details">
						<p>
							The final report includes the full search write up, the benchmarking analysis, the elimination chart and financials of the final comparable
							companies.<br>
							<br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div></section>
	
</div>