<div class="row" style="justify-content: center;">
    <div class="col-xs-12 col-sm-4 col-md-3 mx-3" *ngFor="let card of cards">
        <div class="card">
            <div class="card-image">
                <img [src]="card.image" height="200" width="auto">
            </div>
            <div class="card-content">
                <h4>{{card.head}}</h4>
            </div>
            <div class="card-actions">
                <button class="btn-action" [routerLink]="card.route">{{card.action}}</button>
            </div>
        </div>
    </div>
</div>