<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h2 class="h2">Create Documentation Work</h2>
        </div>
    </div>
    <div class="row">
        <div class="steps-container p-0">
            <div class="step" [ngClass]="{'active':step==1,'completed':step>1}" style="width: 33.3333%;">
                <div class="step-index"><span class="step-circle">1</span></div>
                <div class="step-text"> Provide Company Information </div>
            </div>
            <div class="step" [ngClass]="{'active':step==2,'completed':step>2,'inactive':step<2}" style="width: 33.3333%;">
                <div class="step-index"><span class="step-circle">2</span></div>
                <div class="step-text"> Upload Required Documents </div>
            </div>
            <div class="step" [ngClass]="{'active':step==3,'inactive':step<3}" style="width: 33.3333%;">
                <div class="step-index"><span class="step-circle">3</span></div>
                <div class="step-text"> Place Order </div>
            </div>
        </div>
        <div class="step-main">
            <div *ngIf="step==1">
                <app-request-info [request]="request" [validated]="validated[0]"></app-request-info>
            </div>
            <div *ngIf="step==2">
                <app-request-files [request]="request"></app-request-files>
            </div>
            <div *ngIf="step==3">
                <app-payment></app-payment>
            </div>
            <div class="row mt-1 p-3">
                <div class="col-6">
                    <button mat-button class="primary" *ngIf="step>1" (click)="previous()">&#x21e6; Previous</button>
                </div>
                <div class="col-6 text-end">
                    <button mat-button class="primary" *ngIf="step<3" (click)="next()">Next &#x21e8;</button>
                </div>
            </div>
        </div>
    </div>
</div>