<div _ngcontent-c9="" class="steps-container">
    <!---->
    <div _ngcontent-c9="" class="step active" style="width: 33.3333%;">
        <div _ngcontent-c9="" class="step-index"><span _ngcontent-c9="" class="step-circle">1</span></div>
        <div _ngcontent-c9="" class="step-text"> Provide Booking Information </div>
    </div>
    <div _ngcontent-c9="" class="step inactive" style="width: 33.3333%;">
        <div _ngcontent-c9="" class="step-index"><span _ngcontent-c9="" class="step-circle">2</span></div>
        <div _ngcontent-c9="" class="step-text"> Confirm GST Details </div>
    </div>
    <div _ngcontent-c9="" class="step inactive" style="width: 33.3333%;">
        <div _ngcontent-c9="" class="step-index"><span _ngcontent-c9="" class="step-circle">3</span></div>
        <div _ngcontent-c9="" class="step-text"> Generate Invoice </div>
    </div>
</div>