<div class="container mt-3">
    <div class="steps-container">
        <div class="step active" style="width: 33.3333%;">
            <div class="step-index"><span class="step-circle">1</span></div>
            <div class="step-text"> Provide Company Information </div>
        </div>
        <div class="step inactive" style="width: 33.3333%;">
            <div class="step-index"><span class="step-circle">2</span></div>
            <div class="step-text"> Upload Required Documents </div>
        </div>
        <div class="step inactive" style="width: 33.3333%;">
            <div class="step-index"><span class="step-circle">3</span></div>
            <div class="step-text"> Place Order </div>
        </div>
    </div>
    <div class="step-main">
        
    </div>
</div>
