<div class="container">
  <div class="main text-center">
    <div class="top">
      <div class="head1">TRANSFER PRICING 'MADE EASY'</div>
      <div class="head2">
        <span class="link1">Transferpricing.in</span> is the one-stop solution for creating &amp;
        managing Transfer Pricing documentation, including Local Files,
        Master Files, CbCR, Benchmarks, Inter Company Agreements
        and much more.
      </div>
    </div>
    <div class="bottom">
      <app-section-cards></app-section-cards>
    </div>
  </div>
  <div>
    <app-our-services></app-our-services>
  </div>
  <div>
    <app-workflow></app-workflow>
  </div>
</div>