<div class="container">
  <app-card color="black" background="transparent">
    <div class="main text-center">
      <div class="top">
        <span class="h2">Complete Transfer Pricing Documentation <br/>online now using our new 
          <span style="color:brown"><u>Transfer Pricing Digital Solution</u></span>
        </span>
      </div>
      <div class="bottom">
        <div class="card">
          <div class="card-body">Register your Company</div>
          <div class="card-footer">
            <button class="btn btn-primary" routerLink="register/company">Register >></button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">Signup as Conultant</div>
          <div class="card-footer">
            <button class="btn btn-primary" routerLink="register/company">Sign up >></button>
          </div>
        </div>
      </div>
      
    </div>
    <h3>

      
    

    </h3>
  </app-card>
</div>
