<div class="container">
  <app-card color="black" background="transparent">
    <div class="main text-center">
      <div class="top">
        <div class="head1">All-in-One Transfer Pricing Documentation Software</div>
        <div class="head2">
          For more than a decade TPGenie transfer pricing software is the one-stop solution for creating & managing Transfer Pricing documentation,
          including Local Files, Master Files, Benchmarks, IC-Agreements, CbC Reporting and much more.
          Hundreds of Multinationals, Tax Advisors and Local Entities are using TPGenie to increase efficiency and reduce costs.
        </div>
      </div>
      <div class="bottom">
        <app-section-cards></app-section-cards>
      </div>
      <div class="mt-3">
        <app-our-services></app-our-services>
      </div>
      <div class="mt-3">
        
      </div>
    </div>
  </app-card>
  
</div>
