<div class="container mt-3" *ngIf="type=='company'">
    <h2>Company Registration</h2>
    <div class="col-md-6 col-sm-12">
        <div class="mt-1 px-2">
            <input type="text" class="form-control" id="companyname" placeholder="Company Name" name="companyname">
            <span class="error"></span>
        </div>
        <div class="mt-1 px-2">
            <input type="email" class="form-control" id="companymail" placeholder="Company Mail" name="companymail">
            <span class="error"></span>
        </div>
        <div class="mt-1 px-2">
            <input type="email" class="form-control" id="contact" placeholder="Contact Number" name="contact">
            <span class="error"></span>
        </div>
        <div class="mt-1 px-2">
            <textarea class="form-control" placeholder="Address"></textarea>
            <span class="error"></span>
        </div>
        <div class="mt-1 px-2 text-center">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</div>

<div class="container mt-3" *ngIf="type=='consultant'">
    <h2>Consultant Signup</h2>
    <div class="col-md-6 col-sm-12">
        <div class="mt-1 px-2">
            <input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname">
            <span class="error"></span>
        </div>
        <div class="mt-1 px-2">
            <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="lastname">
            <span class="error"></span>
        </div>
        
        <div class="mt-1 px-2">
            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
            <span class="error"></span>
        </div>
        <div class="mt-1 px-2">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            <span class="error"></span>
        </div>
        <div class="mt-1 px-2">
            <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" name="cpassword">
            <span class="error"></span>
        </div>
        <div class="mt-1 px-2">
            <input type="email" class="form-control" id="mobile" placeholder="Mobile Number" name="mobile">
            <span class="error"></span>
        </div>
        <div class="mt-1 px-2">
            <textarea class="form-control" placeholder="Address"></textarea>
            <span class="error"></span>
        </div>
        <div class="mt-1 px-2 text-center">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </div>
</div>
